body {
  text-align: center;
  min-width: 935px;
  font-family: Shanti;
  font-weight: 550;
}

.wrapper {
  width: 935px;
  margin: 0px auto;
  text-align: left;
  position: relative;
}

.whitebox {
  position: absolute;
  background-color: white;
}


.overview_box {
  border: 2px solid black;
  padding: 2px;
  font-family: Shanti;
  font-size: 14px;
  color: black;
  position: absolute;
  background-color: white;
  text-align: center;
}

.step2_box {
  border: 2px solid black;
  padding: 2px;
  font-family: Shanti;
  font-size: 14px;
  color: black;
  position: absolute;
  background-color: white;
  text-align: center;
}

.simpl_logo {
  position: absolute;
}

.simpl_box {
  position: absolute;
  text-align : center;
}

.simpl_title {
  font-size: 150px;
  font-family: Shanti;
  color: rgb(0,51,153);
  margin: 0px 0px 50px 0px;
}

.simpl_title_i {
  font-family: Ubuntu;
  color: rgb(186,212,23);
}

.simpl_title_m {
  font-family: Ubuntu;
  color: rgb(102,204,255);
}

.simpl_subtitle {
  font-size: 18px;
  font-family: Shanti;
  color: rgb(118,118,118);
}

.simpl_subtitle_i {
  font-family: Ubuntu;
  color: rgb(186,212,23);
}

.simpl_subtitle_m {
  font-family: Ubuntu;
  color: rgb(102,204,255);
}

a div.step2_box {
  border: 2px solid rgb(102,204,255);
  padding: 2px;
  font-family: Shanti;
  font-size: 14px;
  color: white;
  position: absolute;
  background-color: rgb(0,51,153);
  text-align: center;
}

a div.step2_box:hover {
  border: 2px solid rgb(186,212,23);
  padding: 2px;
  font-family: Shanti;
  font-size: 14px;
  color: white;
  position: absolute;
  background-color: rgb(70,138,75);
  text-align: center;
}

a div.overview_box {
  border: 2px solid rgb(102,204,255);
  padding: 2px;
  font-family: Shanti;
  font-size: 14px;
  color: white;
  position: absolute;
  background-color: rgb(0,51,153);
  text-align: center;
}

a div.overview_box:hover {
  border: 2px solid rgb(186,212,23);
  padding: 2px;
  font-family: Shanti;
  font-size: 14px;
  color: white;
  position: absolute;
  background-color: rgb(70,138,75);
  text-align: center;
}